body{
		    background-image: url("bg.gif"); 
		    background-repeat:  no-repeat;
		    background-attachment:  fixed;
		    background-position:  top center ;
		    background-color:#000000;
		    background-size: 100% 100%;

		  }
       
.container { 
  background-color: hsla(0, 0%, 58%, 0.44);
  padding-top: 4%;
  padding-bottom: 4%;
  padding-right: 12%;
  padding-left: 12%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width:50%;    
  border-radius: 5%;
   }
.button {
  padding: 19px 39px 18px 39px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #357e97;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width:100%; 
}

.button:hover {background-color: #5fcf80}

.button:active {
  background-color: #5fcf80;
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
